<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="NEEE Automation">
	<listeners>
		<listener class-name="reusableComponents.ListenersImplementation" />
		<listener class-name="reusableComponents.TestRetryAnalyzerListener" />
	</listeners>
	<test thread-count="1" name="NEEE Tests" parallel="classes">
		<classes>
			<class name="Tests.QuoteTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
